body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: auto;
}

header {
  padding: 0% 2% 0% 2%;
}

main {
  width: 90%;
  margin: auto;
}

footer {
  background-color: lavender;
  text-align: center;
  padding: 2%;
  margin-top: 5%;
}

#weather-section {
  display: flex;
  flex-wrap: wrap;
}

.card, #error {
  border-radius: 7px;
  padding: 20px;
  box-sizing: border-box;
  margin: 2% 0% 2% 0%;
  width: 100%;
}

.icon {
  height: 55px;
  width: auto;
  margin: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather {
  display: flex;
  align-items: center;
  margin: 20px 0px 5px 0px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.weather h1 {
  margin: 10px 20px 0px 20px;
  font-size: 200%;
}

p, .card-header h2 {
  margin: 0;
}

#search-box {
  height: 20px;
  width: 300px;
}

.delete {
  height: 15px;
  width: 15px;
}

.delete:hover {
  cursor: pointer;
}

.current-weather h2 {
  margin: 5px 0px 20px 0px;
}

.day {
  background-color: rgb(206, 241, 226);
}

.night {
  background-color: rgb(190, 220, 255);
}

.forecast {
  margin: 5px;
  text-align: center;
  padding: 5px;
  width: 130px;
}

.forecast p {
  white-space: nowrap;
}

.forecasts {
  overflow: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.card h3 {
  margin: 10px 0px 5px 0px;
}

#error {
  background-color: rgb(255, 174, 174);
  text-align: center;
}

.selected {
  background-color: rgba(138, 138, 138, 0.356);
}

table, th, td {
  border: 1px solid black;
}