/*
  Name: Lauren Wong
  Date: July, 2020
  Description: This is the styles.css file for the Weatherly website which is a
  weather website created using the OpenWeatherMap API and icons made by Those
  Icons on Flaticon. This page adds the style for the website which follows a
  minimalist and calm theme with white and black as the main colors and pastel
  colors as accents.
 */

body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: auto;
  width: 100%;
}

main {
  width: 90%;
  margin: auto;
}

header {
  padding: 0% 2% 0% 2%;
}

header h1 {
  font-size: xx-large;
}

footer {
  background-color: lavender;
  text-align: center;
  padding: 2%;
  margin-top: 5%;
}

.card, #error {
  border-radius: 7px;
  padding: 20px;
  box-sizing: border-box;
  margin: 2% 0% 2% 0%;
  width: 100%;
}

@media (min-width: 1000px) and (orientation: landscape) {
  .card {
    width: 49%;
  }
}

@media (orientation: portrait) {
  .card {
    width: 100%;
  }
}

.icon {
  height: 55px;
  width: auto;
  margin: 10px;
}

#weather-section, header, .weather, .card-header, #logo {
  display: flex;
}

#logo img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

#weather-section {
  flex-wrap: wrap;
}

header, .weather, #logo {
  align-items: center;
}

.weather {
  margin: 20px 0px 5px 0px;
}

.card-header, header, #weather-section {
  justify-content: space-between;
}

.weather h1 {
  margin: 10px 20px 0px 20px;
  font-size: 200%;
}

p, .card-header h2 {
  margin: 0;
}

#search-box {
  height: 2.2em;
  width: 25em;
  border-radius: 5px;
  border: 1px solid grey;
  text-indent: 5px;
}

.btn {
  height: 1.2em;
  width: 1.2em;
}

.btn:hover, .forecast:hover {
  cursor: pointer;
  filter: opacity(50%);
}

form .btn {
  margin-left: 10px;
  margin-top: 10px;
}

.current-weather h2 {
  margin: 5px 0px 20px 0px;
}

.day {
  background-color: rgb(206, 241, 226);
}

.night {
  background-color: rgb(190, 220, 255);
}

.forecast {
  margin: 5px;
  text-align: center;
  padding: 5px;
  width: 130px;
}

.forecast:hover {
  border: 2px solid rgb(180, 180, 180);
}

.forecast p {
  white-space: nowrap;
}

.forecasts {
  overflow: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.card h3 {
  margin: 10px 0px 5px 0px;
}

#error {
  background-color: rgb(255, 174, 174);
  text-align: center;
}

.selected {
  background-color: rgba(138, 138, 138, 0.356);
}

th, td {
  padding: 5px;
  border: 1px solid grey;
}

table {
  width: 100%;
}